name: hack_game
description: "A new Flutter project."
publish_to: "none"
version: 1.0.0+1

environment:
  sdk: ^3.9.2
dependencies:
  flutter:
    sdk: flutter
  cupertino_icons: ^1.0.8
  flame: ^1.32.0
  flame_markdown: ^0.2.4+9

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^5.0.0
flutter:
  uses-material-design: true

  # To add assets to your application, add an assets section, like this:
  assets:
    - assets/images/phase0_icons/chat.png
    - assets/images/phase0_icons/contacts.png
    - assets/images/phase0_icons/epd.png
    - assets/images/phase0_icons/docs.png
    - assets/images/phase0_icons/power.png
    - assets/images/phase0_icons/network.png
    - assets/images/phase0_icons/pager.png
    - assets/images/phase0_icons/mail.png
    - assets/images/phase0_icons/chat_blackout.png
    - assets/images/phase0_icons/contacts_blackout.png
    - assets/images/phase0_icons/epd_blackout.png
    - assets/images/phase0_icons/docs_blackout.png
    - assets/images/phase0_icons/power_blackout.png
    - assets/images/phase0_icons/network_blackout.png
    - assets/images/phase0_icons/pager_blackout.png
    - assets/images/phase0_icons/mail_blackout.png
    - assets/images/hacker.png
    - assets/images/Infected.png
    - assets/images/Connection.png
    - assets/images/Safe.png
    - assets/images/Observation.png
    - assets/images/Background before hack.png
    - assets/images/Background after hack.png
    - assets/images/escape_the hack_logo.png
    - assets/images/splash_background.png
  #   - images/a_dot_ham.jpeg
  #

  # An image asset can refer to one or more resolution-specific "variants", see
  # https://flutter.dev/to/resolution-aware-images

  # For details regarding adding assets from package dependencies, see
  # https://flutter.dev/to/asset-from-package

  # To add custom fonts to your application, add a fonts section here,
  # in this "flutter" section. Each entry in this list should have a
  # "family" key with the font family name, and a "fonts" key with a
  # list giving the asset and other descriptors for the font. For
  # example:
  # fonts:
  #   - family: Schyler
  #     fonts:
  #       - asset: fonts/Schyler-Regular.ttf
  #       - asset: fonts/Schyler-Italic.ttf
  #         style: italic
  #   - family: Trajan Pro
  #     fonts:
  #       - asset: fonts/TrajanPro.ttf
  #       - asset: fonts/TrajanPro_Bold.ttf
  #         weight: 700
  #
  # For details regarding fonts from package dependencies,
  # see https://flutter.dev/to/font-from-package
